@media only screen and (min-width: 60em) {
    main {grid-template-columns: 1fr 1fr 1fr;}
    .visualHierarchy {grid-column-start: 1;}
    .whiteSpace {grid-column-start: 2;}
    .repitition {grid-column-start: 3;}

}