main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

body {
    margin: 0 auto;
    max-width: 300px;
}

img[data-src] {
    filter: blur(0.2em);
}
  
img {
    filter: blur(0em);
    transition: filter 1s;
}