@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Yusei+Magic&display=swap');

html {
    background-color: #CCDBDC;
}

body {
    font-family: "Raleway", Helvetica, sans-serif;
}

.content {
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Yusei Magic', Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

p, a {
    font-size: 1em;
}

a:link {
    color: #52489C;
}

a:hover {
    color: #161413;
}

a:visited {
    color: #A62639;
}

#event-banner {
    display: none;
    text-align: center;
    padding: 10px;
    color: #52489C;
    background-color: #F5EC42;
    font-size: 1.5em;
}

header {
    text-align: center;
    font-family: 'Yusei Magic', Helvetica, sans-serif;
    color: #CCDBDC;
    background-color: #52489C;
    margin: 0 auto;
}

header h1 {
    margin-right: 100px;
}

header img {
    float: left;
	width: 100px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	margin: 0 auto;
}

.motto {
    font-style: italic;
    margin: 0.5em auto 0.5em auto;
}

header button {
    color: #CCDBDC;
    background-color: #52489C;
    font-size: 2em;
    border: none;
    justify-content: center;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
}

nav {
    box-sizing: border-box;
    list-style: none;
    background-color: #F5EC42;
    padding: 0;
}

nav li {
    flex: 1 1 auto;
    text-align: center;
    margin: auto;
    padding: 0;
    display: none;
}

nav li {
    display: none;
}

.responsive li {
    display: block;
}

nav ul {
    display: block;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    font-weight: 600;
}
nav ul li a {
	display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
}

nav a:link {
    color: #52489C;
}

nav a:visited {
    color: #52489C;
}

nav a:hover {
    color: #F5EC42;
    background-color: #52489C;
}

nav ul li.active a {
    color: #F5EC42;
    background-color: #52489C;
}

main {
    padding: 20px;
    color: #161413;
}

.banner img {
    max-width: 100%;
    box-shadow: 5px 10px 20px;
}

.weather-summary {
    margin-top: 1em;
}

.forecast {
    display: none;
}

.article img {
    max-width: 100%;
    box-shadow: 5px 10px 20px;
    float: right;
    margin-bottom: 1em;
}

.article-body {
    clear: right;
}

footer {
    clear: both;
    text-align: center;
    color: #CCDBDC;
    background-color: #52489C;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.8em;
    padding-bottom: 0.5em;
}

footer a:link, footer a:visited {
    color: #CCDBDC;
}

.contact {
    padding: 0.75em;
    font-size: 1em;
    text-align: left;
}

.social img {
    display: none;
}

.map-image img {
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding: 0.75em 0 1em 0;
    max-width: 100%;
}

.gallery {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 1rem;
    justify-items: center;
}

.gallery figure {
    margin:0;
    padding: .5rem;
    border: solid 1px #B6CADD;
}

.gallery figcaption {
    margin: .5rem 0;
}

.gallery img[data-src] {
    filter: blur(0.2em);
}
  
img {
    max-width: 100%;
    height: auto;
    filter: blur(0em);
    transition: filter 1s;
}